*{
    margin: 0;
    padding: 0;
}

:root {
    --bg-cream: hsl(27, 66%, 92%);
    --soft-red: hsl(10, 79%, 65%);
    --dark-brown: hsl(25, 47%, 15%);
    --med-brown: hsl(28, 10%, 53%);

    --ff-dmSans: 'DM Sans', sans-serif;
}

body{
    background-color: var(--bg-cream);
    /* Center the div */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

#container{
    max-width: 21rem;
    
}

#my-balance{
    /* border: 2px solid blue; */
    background-color: var(--soft-red);
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#text-container{
    /* border: 1px solid black; */
}

#balance-h1{
    color: white;
    font-family: var(--ff-dmSans);
    font-size: 85%;
    font-weight: 100;
    float: left;
    padding-top: 0.5em;
    /* padding-bottom: 0.5em; */
    opacity: 80%;
}

#balance-amount{
    font-family: var(--ff-dmSans);
    font-size: 24px;
    font-weight: 400;
    color: white;
    padding-top: 1.5em;
    /* margin-left: -7px; */
}

#logo-img{
    margin: 0.5rem;
}

#spending{
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    color: var(--dark-brown);
    font-family: var(--ff-dmSans);
    text-align: left;
}

#dynamic-chart{
    border-bottom: 3px solid var(--bg-cream);
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
}
#total-container{
    display: flex;
    justify-content: space-between;
}
#total-this-month{
    font-size: small;
    color: var(--med-brown);
    font-weight: 100;
    padding-bottom: 0.5em;
}

#monthly-total{
    font-weight: 700;
    font-size: x-large;
    letter-spacing: 1.2px;
}

#difference-last-month{
    text-align: right;
    margin-top: 1em;
}

#from-last-month{
    color: var(--med-brown);
}

footer{
    position: fixed;
    bottom: 0;
    display: none;
}

@media screen and (min-width: 600px){
    #container{
        min-width: 26rem;
    }
    #dynamic-chart{
        max-height: 15rem;
        padding-top: 2em;
    }
    #total-div{
        margin-left: 0.5em;
    }
    #monthly-total{
        font-size: xx-large;
    }
    #difference-div{
        margin-right: 0.5em;
    }
}